.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

h1 {
	font-size: 10vmin;
	text-align: center;
}

p {
	font-size: 5vmin;
}

.input-group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-right: 10px;
}

button {
	padding: 10px 20px;
	background-color: #ff96f6;
	color: white;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.result {
	font-size: 50px;
	margin-top: 10px;
	text-align: center;
}

@media (min-width: 768px) {
	.container {
		max-width: 600px;
		margin: 0 auto;
	}
	input[type="text"] {
		width: auto;
		margin-right: 10px;
		margin-bottom: 0;
	}
	p {
		font-size: 24px;
		margin-bottom: 20px;
	}
	button {
		font-size: 20px;
		padding: 12px 24px;
	}
	.result {
		font-size: 36px;
	}
}